appdirs==1.4.0
dj-database-url==0.4.2
Django==1.10.6
django-braces==1.11.0
django-cart==1.0.4
django-crispy-forms==1.6.1
django-markdown==0.8.4
django-static-jquery==2.1.4
Markdown==2.6.8
olefile==0.44
packaging==16.8
Pillow==4.0.0
psycopg2==2.7
pyparsing==2.1.10
six==1.10.0
