<!DOCTYPE>
<html>

<head>
    {% load static %}
    
    <title>Book house</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/customcss/nav.css' %}">

    <link href="//cdn.shopify.com/s/files/1/0880/2454/t/2/assets/timber.scss.css?4775145912400741764" rel="stylesheet" type="text/css" media="all" />
      <link href="//cdn.shopify.com/s/files/1/0880/2454/t/2/assets/theme.scss.css?4775145912400741764" rel="stylesheet" type="text/css" media="all" />

      <style type="text/css">
          #maincontent {
            margin-top: 100px;
          }
    
        .navbar-brand {
          padding: 0px; /* firefox bug fix */
        }
        .navbar-brand>img {
          height: 120%;
          padding: 0px; /* firefox bug fix */
          width: auto;
        }

        .container {
            width: 70%;
            background: #FFF url(picture.jpg) no-repeat center top;
            margin: 0 auto;
            height:120% auto;
        }

        #main-content {
            padding: 20px;
        }

        body {
            margin-top: 2cm;
            background: url({% static 'img/bg.jpg' %});
            font-family: Lato;
        }

      </style>
      

    {% block css %}{% endblock css %}
</head>

<body>
    <nav class="navbar navbar-findcond navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="{% url 'home' %}">
                        <img src="{% static 'img/icons/icon.png' %}" alt=""/>
                </a>
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="{% url 'list_products_categories' 'all' %}">Products <span class="sr-only">(current)</span></a></li>
                    <li class="active"><a href="#">Contact us <span class="sr-only">(current)</span></a></li>
                </ul>

            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-bell-o"></i> Items <span class="badge">0</span></a>

                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Music</span> sayfası <span class="badge">Video</span> sayfasında etiketlendi</a></li>
                            <li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">Music</span> sayfasında iletiniz beğenildi</a></li>
                            <li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">Video</span> sayfasında iletiniz beğenildi</a></li>
                            <li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">Game</span> sayfasında iletiniz beğenildi</a></li>
                        </ul>
                    </li>
                    
                    <!-- <li class="active"><a href="#">Ana Sayfa <span class="sr-only">(current)</span></a></li> -->

                    {% if not user.is_authenticated %}
                        <li class="active"><a href="{% url 'register' %}">Register<span class="sr-only">(current)</span></a></li>
                        
                        <li class="active"><a href="{% url 'login' %}">Login<span class="sr-only">(current)</span></a></li>

                    {% else %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hi, {{user.username}} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">My profile</a></li>
                                <li><a href="#">Change password</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
                <form class="navbar-form navbar-right search-form" role="search">
                    <input type="text" class="form-control" placeholder="Search" />
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        <div id="main-content">
            {% block content %}{% endblock content %}
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    {% block js %}{% endblock js %}
</body>

</html>
