
{% extends 'layouts/base.html' %}

{% block js %}

	<script type="text/javascript">
		
		$(document).ready(function(){

			$('.RemoveCart').click(function(){
				var id;
				id = $(this).attr("product_id");
				$.ajax({
		            type: "GET",
		            url: "{% url 'remove_cart' %}",
		            data: {'product_id': id},

		            success: function(data){
		                location.reload();
		            }
		        });
			});

	   });

	</script>

{% endblock js %}

{% block css %}

<link rel="stylesheet" media="all" href="//cdn.shopify.com/s/assets/storefront/additional-checkout-buttons-e666b0b8a20c90d1eaafcc0f38897f2b4ab8af21f68426b37926e48a2ae452c2.css" />


{% endblock css %}

{% block content %}
    <main class="main-content" role="main">
        <div class="wrapper">
            <!-- /templates/cart.liquid -->
            <div class="grid">
                <div class="grid__item large--five-sixths push--large--one-twelfth">
                    <header class="section-header text-center">
                        <h1 class="text-center">Your cart ({{num_items}} items)</h1>
                        <hr class="hr--small">
                    </header>
                    <form action="/cart" method="post" novalidate class="cart">
                        <div class="cart__row medium-down--hide cart__header-labels">
                            <div class="grid--full">
                                <div class="grid__item large--two-fifths push--large--three-fifths">
                                    <div class="grid--full">
                                        <div class="grid__item one-third medium-down--half text-center">
                                            Quantity
                                        </div>
                                        <div class="grid__item two-thirds medium-down--half text-right">
                                            Total
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% for obj in objs %}
                        <div class="cart__row">
                            <div class="grid--full cart__row--table-large">
                                <div class="grid__item large--three-fifths">
                                    <div class="grid">
                                        <div class="grid__item one-third">
                                            <a href="/products/gisele-freund-photographer-by-christian-caujolle-gisele-freund-et-al?variant=26961636803" class="cart__image">
                                                <img src="/{{obj.photo.url}}" alt="{{obj.name}}">
                                            </a>
                                        </div>
                                        <div class="grid__item two-thirds">
                                            <a href="{% url 'product_details' obj.get_absolute_url %}" class="h4 cart__product-name"> {{obj.name}} - {{obj.author}} </a>
                                            <p class="cart__product-meta">
                                                <a class="RemoveCart" href="javascript:void(0)" product_id="{{obj.id}}">Remove</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid__item large--two-fifths">
                                    <div class="grid--full cart__row--table">
                                        <div class="grid__item one-third text-center">
                                            <input type="number" name="updates[]" id="updates_26961636803" class="cart__product-qty" value="1" min="0">
                                        </div>
                                        <div class="grid__item two-thirds text-right">
                                            <span class="cart__price">$ {{obj.price_in_vnd}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="cart__row">
                            <div class="grid--full cart__row--table-large">
                                <div class="grid__item large--two-fifths text-center large--text-right push--large--three-fifths">
                                    <div class="grid--full cart__row--table">
                                        <div class="grid__item one-half large--one-third large--text-center">
                                            <p class="cart__subtotal">Subtotal</p>
                                        </div>
                                        <div class="grid__item one-half large--two-thirds">
                                            <p class="cart__subtotal">$ {{sub_total}} </p>
                                        </div>
                                    </div>
                                    <p><em>Shipping &amp; taxes calculated at checkout</em></p>
  
                                        <button id="UpdateCart" class="btn--secondary update-cart">Update Cart</button>
                                     
                                        <button id="Checkout" class="btn cart__checkout">Check Out &rarr;</button>
                                  
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </main>
    </div>
{% endblock content %}
