
{% extends 'layouts/base.html' %}

{% block js %}

{% endblock js %}

{% block css %}


{% endblock css %}

{% block content %}

		<h1 >CONTACT US</h1>

		<div class="row">
		<div class="col-sm-4">
				<p>
					<b>Name:</b> Trung Le
				</p>
				<p>
					<b>Phone Number:</b> 0933813437
				</p>
				<address>
					<b>Address:</b> 227 Nguyễn Văn Cừ, phường 6, quận 5, Hồ Chí Minh, Vietnam
				</address>
			</div>
			<div class="col-sm-8">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6365469991442!2d106.68043791442784!3d10.762468992330993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1bfb91696d%3A0x28300602173a3187!2s6%2C+38!5e0!3m2!1svi!2s!4v1488722565625" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>

{% endblock content %}
