
.grid::after, .grid--rev::after, .grid--full::after, .grid-uniform::after {
    clear: both;
    content: "";
    display: table;
}
.grid, .grid--rev, .grid--full, .grid-uniform {
    margin-left: -30px;
}
.grid, .grid--rev, .grid--full, .grid-uniform {
    list-style: outside none none;
    margin: 0 0 0 -15px;
    padding: 0;
}

.grid-uniform .large--one-half:nth-child(2n+1), .grid-uniform .large--one-third:nth-child(3n+1), .grid-uniform .large--one-quarter:nth-child(4n+1), .grid-uniform .large--one-fifth:nth-child(5n+1), .grid-uniform .large--one-sixth:nth-child(6n+1), .grid-uniform .large--two-sixths:nth-child(3n+1), .grid-uniform .large--three-sixths:nth-child(2n+1), .grid-uniform .large--two-eighths:nth-child(4n+1), .grid-uniform .large--four-eighths:nth-child(2n+1), .grid-uniform .large--five-tenths:nth-child(2n+1), .grid-uniform .large--one-twelfth:nth-child(12n+1), .grid-uniform .large--two-twelfths:nth-child(6n+1), .grid-uniform .large--three-twelfths:nth-child(4n+1), .grid-uniform .large--four-twelfths:nth-child(3n+1), .grid-uniform .large--six-twelfths:nth-child(2n+1) {
    clear: both;
}
.large--one-third {
    width: 33.333%;
}
.grid__item {
    padding-left: 30px;
}
.grid__item {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 15px;
    vertical-align: top;
    width: 100%;
}

.grid, .grid--rev, .grid--full, .grid-uniform {
    list-style: outside none none;
}
