{% extends 'layouts/base.html' %}
{% load static %}

{% block css %}
	
		<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/customcss/categories.css' %}"> -->

	<style type="text/css">
		
		#menu { 
			text-align: center;
			/*padding: 20px;*/
		}

</style>
	

{% endblock css %}

{% block content %}

<div id="menu">
	<div class="btn-group">

		<button type="button" class="btn btn-primary" 
	  			onclick="window.location.href='{% url 'list_products_categories' 'all' %}'" >All products</button>

		{% for category in categories %}
	  		<button type="button" class="btn btn-primary" 
	  			onclick="window.location.href='{% url 'list_products_categories' category.slug %}'" >{{category.name}}</button>
	  	{% endfor %}
	</div>
</div>

<br><br>
	
{% for product in products %}

	
<div class="grid__item grid-product medium--one-half large--one-third is-sold-out">
  <div class="grid-product__wrapper">
    <div class="grid-product__image-wrapper">
      <a class="grid-product__image-link" href="{% url 'product_details' product.get_absolute_url %}">

        <img src="/{{product.photo.url}}" alt="JOSEPH ESHERICK: A CELEBRATION OF LIFE by Dan Chambers, et al" class="grid-product__image">
      </a>
      
        <!-- <div class="grid-product__sold-out">
          <p>Sold<br /> Out</p>
        </div> -->
      
    </div>

    <a href="{% url 'product_details' product.get_absolute_url %}" class="grid-product__meta">
      <span class="grid-product__title">{{ product.name }}</span>
      <span class="grid-product__price-wrap">
        <span class="long-dash">—</span>
        <span class="grid-product__price">
          
            $ {{ product.price_in_vnd}}
          
        </span>
      </span>
      
    </a>
  </div>
</div>


	<!-- <li><a href="{% url 'product_details' product.get_absolute_url %}">{{ product.name }}</a></li>
	<p>{{product.description}}</p>

	<button>Add to cart</button>
	<button>Checkout</button>
	<hr/> -->

{% endfor %}

{% endblock content %}