 {% extends 'layouts/base.html' %} {% load crispy_forms_tags %} {% load static %} {% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/customcss/comment.css' %}">
<style type="text/css">
.text-center {
    margin-bottom: 100px;
}

span.bold-blue {
    color: blue;
    font-weight: bold;
}
</style>
{% endblock css %} {% block js %}
<script type="text/javascript">
$(document).ready(function() {
    $(document).on('click', '#send', function() {
        $('#hid').val(data)
        document.forms["myform"].submit();
    })

    $("#AddToCart").click(function() {
        var id;
        id = $(this).attr("product_id");
        $.ajax({
            type: "GET",
            url: "{% url 'add_to_cart' %}",
            data: {'product_id': id},

            success: function(data){
                $('#NumItems').html(data);
            }
        });
    });
})
</script>
{% endblock js %} {% block content %}
<div class="grid product-single">
    <div class="grid__item large--seven-twelfths medium--seven-twelfths text-center">
        <div class="product-single__photos">
            <div class="product-single__photo-wrapper">
                <img class="product-single__photo" id="ProductPhotoImg" src="/{{product.photo.url}}" alt="{{product.name}}">
            </div>
            <h2>Comments</h2>
            
            {% for comment in comments %}
            <div class="row">
                <div class="col-md-16">
                    <section class="comment-list">
                        <!-- First Comment -->
                        <article class="row">
                            <div class="col-md-2 col-sm-2 hidden-xs">
                                <figure class="thumbnail">
                                    <img class="img-responsive" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" />
                                    <figcaption class="text-center">{{ user.username }}</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-10 col-sm-10">
                                <div class="panel panel-default arrow left">
                                    <div class="panel-body">
                                        <header class="text-left">
                                            <li> <span class="bold-blue">{{ comment.title }} </span></li>
                                            <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> Dec 16, 2014</time>
                                        </header>
                                        <div class="comment-post">
                                            <p>
                                                {{comment.content}}
                                            </p>
                                        </div>
                                        <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a></p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </section>
                </div>
            </div>
            {% endfor %} 

            {% if user.is_authenticated %}
                <h3>Your thoughts </h3> {% crispy form %} {% else %}
                <h4><a href="{% url 'login' %}">Login to post a comment</a></h4> 
            {% endif %}
        </div>
    </div>
    <div class="grid__item product-single__meta--wrapper medium--five-twelfths large--five-twelfths">
        <div class="product-single__meta">
            <h1 class="product-single__title" itemprop="name">{{product.name}}</h1>
            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <span id="ProductPrice" class="product-single__price" itemprop="price">
            $ {{product.price_in_vnd}}
          </span>
                <hr class="hr--small">
                <meta itemprop="priceCurrency" content="USD">
                <link itemprop="availability" href="http://schema.org/InStock">

                <div class="product-single__add-to-cart">
                    <button id="AddToCart" class="btn" product_id="{{product.id}}">
                        <span id="AddToCartText">Add to Cart</span>
                    </button>
    
                </div>

                <!-- </form> -->
            </div>
            <div class="product-single__description rte" itemprop="description">
                <p>
                    {{product.description}}
                </p>
            </div>
        </div>
    </div>
</div>
<hr class="hr--clear">
<div class="text-center">
    <a href="{{request.META.HTTP_REFERER}}" class="return-link">&larr; Back to BOOKS</a>
</div>
</div>
{% endblock content %}
