{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h3>{{product.name}}</h3>
<p>{{product.description}}</p>
<li>{{product.price_in_vnd}}</li>
<li>{{product.pub_date}}</li>

<hr/>

<button>Add to cart</button>
<button>Checkout</button>
<hr/>

<h3>Comments</h3>

{% for comment in comments %}
		<li> {{ comment.title }} </li>
		<p> {{comment.content}} </p>
		Posted by: {{ user.username }}
		
{% endfor %}

{% if user.is_authenticated %}
	{% crispy form %}
{% else %}
<h4>Login to post a comment</h4>
{% endif %}

<!-- <form method="POST" class="post-form">{% csrf_token %}
        {% crispy form %}
        <button type="submit" class="save btn btn-default">Save</button>
    </form> <-->																								</-->


<p><a href="{{request.META.HTTP_REFERER}}"">Get back</a></p>

{% endblock content %}